li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

h1,
h2 {
  text-align: center;
}

.burger-header {
  background: pink;
}

body {
  background: aliceblue;
}

.burger-img {
  width: 50%;
}

.img-tag {
  text-align: center;
}
